<div class="container">	
	<div class="jumbotron text-center">
		<div class="title">
			<h1>Gabrielle Gerlitz</h1>
			<h2>Web Developer</h2>
			<i class="fa fa-github"></i>
			<i class="fa fa-linkedin-square"></i>
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-envelope"></i>
		</div><!--/title -->
	</div><!--/jumbotron -->

	<div class="page-header">
		<h2>Nice To Meet You</h2>
	</div>
	<div class="about_me">
		<div class="row">
			<div class="image col-md-4">
				<%= image_tag "headshot.jpg", class: "img-circle" %>
			</div>
			<div class="description col-md-8 col-offset-4">
				<p>
					I am a Full Stack Web Developer currently based in New York City with prior background in sports medicine and preventative health care. I graduated from a full-time, Web Development Intensive program where I learned hands-on, Ruby, Rails, HTML, CSS, JavaScript, jQuery, database theory and much more. With this new knowledge base in back-end development, I am interested in developing innovative, patient-centric, and preventative health care applications that empowers its users to navigate the intricacies of healthcare.
				</p>	
			</div><!--/description -->
		</div><!--/row -->
	</div><!--/about_me -->
</div><!--/container -->	